<div class="card" style="width: auto;">
  <img class="card-img-top" src="https://senecaniagaracasino.com/wp-content/uploads/2016/03/burger-outline-filled.png" alt={{burger_name}}>
  <div class="card-body">
    <p class="card-text text-center"><strong>{{burger_name}}</strong></p>
    {{#if devoured}}{{else}}<a class="card-button" href="/devour/{{id}}">DEVOUR</a>{{/if}}
  </div>
</div>